/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.neDaSeIzbratiTeksta {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body, html {
	height: 100%; /* da otroci divi zasedajo celoted prostor */
	width: 100%;
}

body {

	/* resitev iz http://stackoverflow.com/questions/26912911/how-to-make-css-background-blend-mode-work-with-gradients */

	/* background: url(../img/tekstura.jpg) no-repeat center center fixed, linear-gradient(to right, #fbb03b, white, #fbb03b); */
	background: linear-gradient(to right, #fbb03b, white, #fbb03b);
	background: -webkit-linear-gradient(left, #fbb03b, white, #fbb03b);
	background: -o-linear-gradient(right, #fbb03b, white, #fbb03b);
	background: -moz-linear-gradient(right, #fbb03b, white, #fbb03b);
	background: -ms-linear-gradient(right, #fbb03b, white, #fbb03b);

	/* centrirano sliko raztegne enakomerno na povrsino celega okna */
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;

	/* image in gradient skupaj */
	/* background-blend-mode: multiply; */

	/* uporaba teksture prevec upocasni vse skupaj, zato zakomentirano */

}

#vsebina {
	font-family: "Lucida Console", Monaco, monospace;
	height: 100%;
	width: 100%;
}

#typingCanvas {
	display: block;
	margin: 0 auto;
}

/* scrollbar za chrome */

::-webkit-scrollbar{
	width: 10px;
	height: 10px;
	padding-top: 40px;
}

::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
	border: 1px solid black;
	background: rgb(41,41,41);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb{
	border-radius:10px;
	height: 30px;
	width: 8px;
	border: 1px solid black;
	background: rgb(111,111,111);
	-webkit-box-shadow: 0 1px 1px rgb(0,0,0);
	background: -webkit-linear-gradient(rgb(200,200,200), rgb(150,150,150));
}

::-webkit-scrollbar-track-piece {
	height: 30px;
	width: 30px;
}

#stopnjeWrapper {
	/*box-shadow: 1px 1px 10px #999;*/
	margin: 0 auto;
	/* pri robu malo lufta */
	width: 95%;
	/* inline-block divi delujejo kot nek tekst! */
	text-align: center;
}

#stopnjeSlider {
	overflow-x: scroll;
	overflow-y: hidden;
	height: 225px;
	white-space: nowrap;

	font-weight: 900;
}

.stopnja {
	/*box-shadow: 1px 1px 10px #999;*/
	opacity: 0.2;
	/* ozadja se ne vidi cez svg! */
	margin: 30px 5px 30px 5px;
	height: 125px;
	width: 125px;

	/* float: left; */
	cursor: pointer;
	display: inline-block;
}

.stopnja.unlocked {

	background: url(../img/unlocked.svg);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	/* zakrivljenost divov */
	border-radius: 5px;
}

.stopnja.locked {
	background: url(../img/locked.svg);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	/* zakrivljenost divov */
	border-radius: 5px;
}

.stopnja.unlocked p {
	color: rgb(247, 147, 30);
}

.stopnja.locked p {
	color: rgb(242, 242, 242);
}

.stopnja img {
	position: relative;
	bottom: 30px;
}

.stopnja:hover img {
	bottom: 0px;
}



.stopnja.selected img {
	bottom: 0px;
}

.stopnja p {
	font-size: 1.7em;
	position: relative;
	top:45px;
	margin: 0;
}

.stopnja.selected p {
	font-size: 6.5em;
	position: relative;
	top:60px;
	margin: 0;
}

.stopnja:hover p {
	font-size: 6.5em;
	position: relative;
	top:60px;
	margin: 0;
}
.stopnja:hover {
	opacity: 1;
	width: 200px;
	height: 200px;

	position: relative;
	bottom: 25px;
}

.stopnja.selected {
	opacity: 1;
	width: 200px;
	height: 200px;

	position: relative;
	bottom: 25px;
}

.fave {
	display: inline-block;
	width: 65px;
	height: 45px;
	border-radius: 5px;
	background: url(../img/twitter_fave.png) no-repeat;
	background-position: 0 0;
}

.fave.ongoing {
  background-position: -3519px 0;
  transition: background 1s steps(55);
}

.freespace {
	height: 50px;
}

#progress-bar-container {
	width: 100%;
	height:50px;
	border: 1px solid black;

	background: -webkit-linear-gradient(rgba(108, 108, 108, 1), rgba(131, 131, 131, 1), rgba(125, 125, 125, 1)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgba(108, 108, 108, 1), rgba(131, 131, 131, 1), rgba(125, 125, 125, 1)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgba(108, 108, 108, 1), rgba(131, 131, 131, 1), rgba(125, 125, 125, 1)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(rgba(108, 108, 108, 1), rgba(131, 131, 131, 1), rgba(125, 125, 125, 1)); /* Standard syntax */
}

#progress-bar-container #progress-bar-moving {
	height: 50px;
	width: 0%;

	background: -webkit-linear-gradient(rgba(230, 173, 61, 1), rgba(232, 150, 32, 1), rgba(217, 127, 4, 1)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgba(230, 173, 61, 1), rgba(232, 150, 32, 1), rgba(217, 127, 4, 1)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgba(230, 173, 61, 1), rgba(232, 150, 32, 1), rgba(217, 127, 4, 1)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(rgba(230, 173, 61, 1), rgba(232, 150, 32, 1), rgba(217, 127, 4, 1)); /* Standard syntax */
}

#loginGumb {
	margin-left: auto;
	margin-right: auto;
	height:75px;
	width:75px;
	background: url("../img/ostale_aluo/user_oranzni.svg") center; /*no-repeat center center fixed;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	cursor: pointer;
}

#loginGumb p{
	color: black;
	text-align: center;
	padding-top: 90px;
	font-size: 2em;
}

/* adjacent sibling combinator, vir http://stackoverflow.com/questions/6910049/on-a-css-hover-event-can-i-change-another-divs-styling */
#loginGumb:hover + #loginBesedilo {
	color: red;
	font-weight: bold;
}

#zacniGumb {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	display: block;
	height:50px;
	width:200px;
	background: url("../img/ostale_aluo/zacni_zelen.svg") center; /*no-repeat center center fixed;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	cursor: pointer;
}

#zacniGumb:hover {
	margin-top: 0px;
	height:60px;
	width: 240px;
}

#zacniGumb:active {
}

#navodila {
	font-size: 2em;
	line-height: 1.5;
}

#navodilaSlider {
	margin: 0 auto;
	/* pri robu malo lufta */
	width: 50%;
	/* inline-block divi delujejo kot nek tekst! */
	text-align: justify;
	height: 150px;
}
.square {
	float:left;
	position: relative;
	width: 30%;
	padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
	margin:1.66%;
	background-color:#1E1E1E;
	overflow:hidden;
}

.centrirano {
	border-radius: 1em;
	padding: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 24px;
}

.content {
	position:absolute;
	height:90%; /* = 100% - 2*5% padding */
	width:90%; /* = 100% - 2*5% padding */
	padding: 5%;

}

.prikazPodatkov {
	/*text-align: center;*/
	height:500px;
	overflow:auto;
}

.prikazPodatkov table {
	overflow: scroll;
	display: inline-table;
	background-color: white;
	width: 33%;
	border:1px solid black;
	text-align: center;
}

.prikazPodatkov th {
	text-align: center;
	font-size: 1em;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #A7C942;
	color: white;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
	display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print,
	   (-webkit-min-device-pixel-ratio: 1.25),
	   (min-resolution: 1.25dppx),
	   (min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important; /* Black prints faster:
								   http://www.sanbeiji.com/archives/953 */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links that are fragment identifiers,
	 * or use the `javascript:` pseudo protocol
	 */

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/*
	 * Printing Tables:
	 * http://css-discuss.incutio.com/wiki/Printing_Tables
	 */

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
