<!-- view - menu -->
<div class="freespace"></div>
<a class="btn btn-default btn-lg pull-right" ng-click="MenuCtrl.toogleSound();">Zvok {{MenuCtrl.getSound() ? '&#10004;' : '&#10008;';}}</a>

<div id="loginGumb" ui-sref='profile'><p>{{MenuCtrl.user}}</p></div>

<div class="freespace"></div>

<div style="width: 100%; height:100%;">

	<div id="stopnjeWrapper">
		<div id="stopnjeSlider">
			<div class="stopnja" ng-repeat="x in MenuCtrl.userAchievements track by $index" class="col-lg-3" ng-click="MenuCtrl.setDifficulty($index);" ng-class="{ 'stopnja unlocked' : x > 0, 'stopnja locked' : x == 0, 'stopnja unlocked selected' : $index == MenuCtrl.dobiStopnjo() }">
				<p>{{$index+1}}.</p>

				<img ng-src="{{!(x > 0) && 'img/kljucavnica.svg' || 'img/m' + (x-1) + '.png'}}"/>
			</div>
		</div>
	</div>

	<div class="freespace"></div>

	<div id="navodila">
		<div id="navodilaSlider">
			{{MenuCtrl.navodilo}}
		</div>
	</div>

	<div class="freespace"></div>

	<!-- pojdi v stanje le ce ima uporabnik dovoljenja -->
	<a id="zacniGumb" ng-click="MenuCtrl.changeStateToTyping()"></a>


</div>
