<div style="background: url(img/tekstura.jpg) no-repeat center center fixed, linear-gradient(to right, #fbb03b, white, #fbb03b);
	background: url(img/tekstura.jpg) no-repeat center center fixed, -webkit-linear-gradient(left, #fbb03b, white, #fbb03b);
	background: url(img/tekstura.jpg) no-repeat center center fixed, -o-linear-gradient(right, #fbb03b, white, #fbb03b);
	background: url(img/tekstura.jpg) no-repeat center center fixed, -moz-linear-gradient(right, #fbb03b, white, #fbb03b);
	background: url(img/tekstura.jpg) no-repeat center center fixed, -ms-linear-gradient(right, #fbb03b, white, #fbb03b); border-top: none; box-shadow: none; border-bottom: none; text-align: center;" class="modal-header">
  <h1>Čestitke!</h1>
</div>
<div style="background: url(../img/tekstura.jpg) no-repeat center center fixed, linear-gradient(to right, #fbb03b, white, #fbb03b);
	background: url(../img/tekstura.jpg) no-repeat center center fixed, -webkit-linear-gradient(left, #fbb03b, white, #fbb03b);
	background: url(../img/tekstura.jpg) no-repeat center center fixed, -o-linear-gradient(right, #fbb03b, white, #fbb03b);
	background: url(../img/tekstura.jpg) no-repeat center center fixed, -moz-linear-gradient(right, #fbb03b, white, #fbb03b);
	background: url(../img/tekstura.jpg) no-repeat center center fixed, -ms-linear-gradient(right, #fbb03b, white, #fbb03b); border-top: none; box-shadow: none; text-align: center;" class="modal-body">
 <h4>Tipkaš tako dobro, da ti predlagamo da nadaljuješ na naslednji nivo. Ali si tega želiš?</h4>
</div>
<div style="background: url(../img/tekstura.jpg) no-repeat center center fixed, linear-gradient(to right, #fbb03b, white, #fbb03b);
	background: url(../img/tekstura.jpg) no-repeat center center fixed, -webkit-linear-gradient(left, #fbb03b, white, #fbb03b);
	background: url(../img/tekstura.jpg) no-repeat center center fixed, -o-linear-gradient(right, #fbb03b, white, #fbb03b);
	background: url(../img/tekstura.jpg) no-repeat center center fixed, -moz-linear-gradient(right, #fbb03b, white, #fbb03b);
	background: url(../img/tekstura.jpg) no-repeat center center fixed, -ms-linear-gradient(right, #fbb03b, white, #fbb03b); border-top: none; box-shadow: none; text-align: center;" class="modal-footer">
	<button style="background-image: none; background-color: rgb(135, 196, 63); color: rgb(11, 150, 69);" class="btn btn-primary" ng-click="ProfileCtrl.ok()">&#10004</button>
	<button style="background-image: none; background-color: rgb(252, 139, 142); color: rgb(249, 20, 26);" class="btn btn-warning" ng-click="ProfileCtrl.cancel()">&#10008</button>
</div>
