<!-- view - user -->
<div style="text-align: center;">
	<h1>How are you doing?</h1>
	<h3>{{ProfileCtrl.x}}</h3>

	<button ng-click="ProfileCtrl.open()">Odpri modal!</button>
	<p>Uporabnik v SCOPE dal vrednost: {{name}}</p>
	<button onclick="animiraj();">animiraj</button>
	<section class="fave"></section>
	<section class="fave"></section>
	<section class="fave"></section>
	<ul style="float:left;">
		STAF:
		<li>izboljsan framerate</li>
		<li>manjkajo slike levi mezinec (LEFT SHIFT) v komb s prsti desne roke</li>
		<li>manjkajo slike desni mezinec (DESNI SHIFT) v komb s prsti leve roke</li>
		<li>slikice rok skačejo (nekaj px napake med sličicami)</li>
		<li>F1-F11 tipke onemogočene, onemogočen BACKSPACE</li>
	</ul>


</div>
<script>
var flag = true;
var x = document.getElementsByClassName("fave");
function animiraj() {
	if(flag) {
		console.log("zacenjam animacijo zvezdic");

		x[0].className = "fave ongoing";
		setTimeout(function() {
			x[1].className = "fave ongoing";
		}, 250);
		setTimeout(function() {
			x[2].className = "fave ongoing";
		}, 500);
		flag = false;
	} else {
		console.log("brisem classe");

		console.log(x);
		x[0].className = "fave";
		x[1].className = "fave";
		x[2].className = "fave";
		flag = true;
	}
}
</script>
