<!-- view - statistika -->
<div id="progress-bar-container">
	<div id="progress-bar-moving"></div>
</div>
<div class="freespace"></div>
<div class="freespace"></div>

<div style="text-align: center;">
	<h3>Čestitke, opravil si stopnjo!</h3>
	<div style="margin: 0 auto; width: 300px; background-color: white; padding: 45px 0;">
		<section class="fave"></section>
		<section class="fave"></section>
		<section class="fave"></section>
	</div>
	<p>Tvoja uspešnost je bila {{StatistikaCtrl.izracun | number:2}}%. Kako boš nadaljeval?</p>
	<p>{{StatistikaCtrl.zvezdice}} zvezdice :)</p>
	<a class="btn btn-default btn-lg" ui-sref='menu'>Pojdi nazaj na menu</a>
	<!-- twitter zvezdice na https://cssanimation.rocks/twitter-fave/ -->
</div>
