<!-- view - tipkanje -->
<div id="progress-bar-container">
	<div id="progress-bar-moving"></div>
</div>

<div class="freespace"></div>
<canvas id="smejko" style="display: block; position: absolute; left: 50%; margin-left: -150px; margin-top: 200px; z-index: -1;" width="300" height="300"></canvas>

<canvas id="typingCanvas">Brskalnik ne podpira canvas.</canvas>

<img id="tipkarskeRoke" style="width:25%;display:block;margin: 0 auto;" alt="levi kazalec">

<!--<div class="prikazPodatkov">

	<table>
		<tr>
			<th style="color: blue;">Pravilnost</th>
			<th>Čas tipke</th>
	   </tr>
	   <tr ng-repeat="x in TipkanjeCtrl._pravilnosti">
			<td style="background-color: rgba(122,209,113,0.2);">{{x.pravilnost | number:2}}</td>
			<td>{{x.casovniZig | date:'HH:mm:ss'}}</td>
		</tr>
	</table>

	<table>
		<tr>
			<th style="color: blue;">Pozornost</th>
			<th>Čas kalkulacije</th>
	   </tr>
	   <tr ng-repeat="x in TipkanjeCtrl._pozornosti">
			<td style="background-color:rgba(151,187,205,0.3);">{{x.pozornost | number:2}}</td>
			<td>{{x.casovniZig | date:'HH:mm:ss'}}</td>
		</tr>
	</table>

	<table>
		<tr>
			<th style="color: blue;">Utrujenost</th>
			<th>Čas kalkulacije</th>
	   </tr>
	   <tr ng-repeat="x in TipkanjeCtrl._utrujenosti">
			<td style="background-color: rgba(227,64,83,0.4);">{{x.utrujenost | number:2}}</td>
			<td>{{x.casovniZig | date:'HH:mm:ss'}}</td>
		</tr>
	</table>
</div>-->
