<div class="modal-header">
	<h1>This is the title {{item.name}}</h1>
</div>
<div class="modal-body">
	<h4>Just something random here {{fuck}}</h4>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">DA</button>
	<button class="btn btn-warning" ng-click="cancel()">NE</button>
</div>
