div.smileyface {
	/* smejko je centriran v svoji liniji */
	display: block;
	margin: 0 auto;

	/* sirina in visina smejkota */
	width: 300px;
	height: 300px;
	position: absolute;
	top:125px;
	left:300px;

	/* naredi smejkota okroglega */
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;

	/* barva ozadja */
	background: #ffe632;

	/* gradient na barvi ozadja */
	background: -webkit-gradient(linear, left top, left bottom, from(#fffe8d), to(#f6d23e));
	background: -moz-linear-gradient(top,  #fffe8d,  #f6d23e);	

	/*senca okoli smejkota */
	box-shadow: inset 0px -14px 14px rgba(0, 0, 0, .3), 0px 2px 20px rgba(0, 0, 0, .6);
	-webkit-box-shadow: inset 0px -14px 14px rgba(0, 0, 0, .3), 0px 2px 20px rgba(0, 0, 0, .6);
	-moz-box-shadow: inset 0px -14px 14px rgba(0, 0, 0, .3), 0px 2px 20px rgba(0, 0, 0, .6);
}
	
p.eyes {
	/* oci so malo visje kot siroke! */
	width: 50px;
	height: 80px;

	background: #222;

	/* zakrivljenost oci */
	border-radius: 100px/160px;
	-webkit-border-radius: 100px/160px;
	-moz-border-radius: 100px/160px;
	
	/* znotraj relative smejkota pozicioniramo absolutno */
	position: absolute;
	
	/* koliko pixlov dol od zgornjega robu smejkota oci lezijo */
	top: 40px;
	
	/* oci so zasencene na robovih */
	box-shadow: 0 2px 0 rgba(255,255,255, 0.8);
	-webkit-box-shadow: 0 2px 0 rgba(255,255,255, 0.8);
	-moz-box-shadow: 0 2px 0 rgba(255,255,255, 0.8);
	}	
	
	p.eyes.lefteye {
		/* koliko pixlov desno od desnega robu smejkota oci lezijo */
		left: 75px;
	}
		
	p.eyes.righteye {
		/* koliko pixlov levo od levega robu smejkota oci lezijo */
		right: 75px;
	}
		
div.smile {
	/* dolzina in visina krivulje ust */
	/* popravljen na 220px - original 200px */
	width: 220px;
	height: 70px;
	
	/* debelina krivulje ust */
	border: 10px solid #222;
	
	/* odstrani ravno crto nad krivuljo ust! */
	border-top: 0;
	
	/* ??? */
	background: rgba(0,0,0,0);

	/* zakrivljenost nasmeha - !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
	-moz-border-radius: 0 0 120px 120px / 0 0 90px 90px;
	-webkit-border-radius: 0 0 120px 120px 0 0 90px 90px;
	border-radius: 0 0 120px 120px / 0 0 90px 90px;

	position: absolute;
	/* koliko pixlov zgoraj od spodnjega robu smejkota krivulja ust lezi */
	bottom: 50px;
	/* koliko pixlov desno od desnega robu smejkota krivulja ust lezi */
	left: 38px;

	/* zasencena krivulja ust */
	box-shadow: 0 2px 0 rgba(255,255,255, 0.8);
	-webkit-box-shadow: 0 2px 0 rgba(255,255,255, 0.8);
	-moz-box-shadow: 0 2px 0 rgba(255,255,255, 0.8);
}

div.corner {
	width: 10px;
	height: 30px;
	background: #222;
	border-radius: 100px/160px;
	-webkit-border-radius: 100px 160px;
	-moz-border-radius: 100px/160px;
	position: absolute;
	top: -12px;
	-webkit-transform: rotate(65deg);
	-moz-transform: rotate(65deg);
	left: -12px;
	}
	
	div.corner.right {
		left: 202px;
		-webkit-transform: rotate(-65deg);
		-moz-transform: rotate(-65deg);		
		}






















.smiley {
    height: 100px;
    width: 100px;
    border: 2px solid #000;
    border-radius: 50%;
    position: relative;
}

.smiley:before {
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid #000;
    left: 15px;
    top: 30px;
}

.smiley:after {
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid #000;
    right: 15px;
    top: 30px;
}

.smiley span {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-bottom: 2px solid red;
    position: absolute;
    bottom: 10px;
    left: 25px;
}










.neutral {
    height: 100px;
    width: 100px;
    border: 2px solid #000;
    border-radius: 50%;
    position: relative;
}

.neutral:before {
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid #000;
    left: 15px;
    top: 30px;
}

.neutral:after {
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid #000;
    right: 15px;
    top: 30px;
}

.neutral span {
    height: 50px;
    width: 50px;
    border-bottom: 2px solid red;
    position: absolute;
    bottom: 20px;
    left: 25px;
}










.sad {
    height: 100px;
    width: 100px;
    border: 2px solid #000;
    border-radius: 50%;
    position: relative;
}

.sad:before {
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid #000;
    left: 15px;
    top: 30px;
}

.sad:after {
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid #000;
    right: 15px;
    top: 30px;
}

.sad span {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-top: 2px solid red;
    position: absolute;
    bottom: -15px;
    left: 25px;
}